body {
    background-color: #FFFBEB;
}

hr {
    border-color: #FFE7CC;
    border-width: 8px;
    border-style: none;
    border-top-style: dotted;
    width: 8%;
}

h1 {
    color: #F38181;
}

h3 {
    color: #F38181;
}


/* img {
    height: 20px;
} */